@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'RobotoMono'!important;
}
